:root {
  // Setting font size to 62.5% makes it easier to convert rem to px. Ex: 1.6rem = 16px;
  font-size: 62.5%;
}

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-base;
  margin: 2.2rem 0 1.1rem 0;
  color: $heading-color;
}

h1{
  font-size: 3rem;
  font-weight: 500;
}

h3 {
  font-size: 2.4rem;
  font-weight: $light-weight;

  span{
    font-weight: $ultra-weight;
  }
}

p, ul, ol {
  margin: 0 0 1.1rem 0;
  color: $text-color;
}

b,
strong {
  font-weight: 600;
}


@include screen-md {
}